@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

span {
  background: none;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1500px;
  margin: 10px auto;
}

.App .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App .banner img {
  margin: 0 auto;
  width: 250px;
}

.App .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.Menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.Menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  margin: 10px;
}

.Menu ul li {
  background-color: #1e8350;
  margin: 0 0 2px 0;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.Menu ul li a:link,
.Menu ul li a:visited {
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
}

.Article {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

ul.box-price-list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

ul.box-price-list li {
  -ms-flex-preferred-size: 18%;
      flex-basis: 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 8px 0 0 4px;
  border: 1px solid #ccc;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ul.box-price-list li span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul.box-price-list li span img {
  max-height: 72px;
}

.box-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.box-list ul {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
}

.box-list ul li {
  padding: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

.box-list ul li:nth-child(1) {
  background-color: #7db18f;
}

.box-list ul li:nth-child(1) span {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box-list ul li {
  border: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.box-list ul li span.imgTump {
  border: 1px solid red;
  width: 200px;
}

.box-list ul li span.imgTump img {
  width: 100%;
}

.box-list ul li span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-left: 1px solid #ccc;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box-list ul li span i {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.box-list ul li:hover {
  background-color: #ffc107;
}

.box-list ul.box-tump {
  border: none;
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
  margin: 100px 0 0 0;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.box-list ul.box-tump li {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  border: none;
  background: none;
  height: auto;
}

.box-list ul.box-tump li img {
  width: 100%;
  height: auto;
}

.box-picture .upload-wait {
  position: absolute;
  width: 100%;
  left: 0;
  top: 150px;
  height: 500px;
  background-color: #000000a8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: greenyellow;
}

.box-picture ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 800px;
  margin: 30px auto;
  padding: 20px;
  background-color: #e9ecea;
}

.box-picture ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.box-picture ul li span.hedePicture {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  background-color: #7db18f;
  padding: 10px;
}

.box-picture ul li span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.box-picture ul li input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.box-picture ul li select {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  width: 125px;
}
/*# sourceMappingURL=App.css.map */